.light-mode,
.dark-mode {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}


.light-mode {
  background-color: white;
}

.light-mode > button {
  color: black;
}

/* Estilos para el elemento h1 */
.light-mode h4 {
  color: #333; /* Color del texto (un gris oscuro) */
  font-size: 1em; /* Tamaño de la fuente (2.5 veces el tamaño base del texto) */
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 0; /* Elimina el margen superior por defecto */
  margin-bottom: 20px; /* Añade un margen inferior */
  padding: 10px; /* Añade un relleno alrededor del texto */
  border-bottom: 2px solid #eee; /* Añade una línea inferior sutil */
  font-family: "Arial", sans-serif; /* Cambia la fuente (usa una fuente web si es necesario) */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
}

.dark-mode {
  background-color: black;
}

.dark-mode > button {
  color: white;
}

.dark-mode h4 {
  color: white; /* Color del texto (un gris oscuro) */
  font-size: 1em; /* Tamaño de la fuente (2.5 veces el tamaño base del texto) */
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 0; /* Elimina el margen superior por defecto */
  margin-bottom: 20px; /* Añade un margen inferior */
  padding: 10px; /* Añade un relleno alrededor del texto */
  border-bottom: 2px solid #eee; /* Añade una línea inferior sutil */
  font-family: "Arial", sans-serif; /* Cambia la fuente (usa una fuente web si es necesario) */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
}


