html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Estilos por defecto */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo claro */
.light-mode {
  background-color: #ffffff;
  color: #213547;
}

/* Modo oscuro */
.dark-mode {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
